.hidden {
    display: none;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: 'Pretendard', sans-serif;
  gap: 30px;
}

.overlay{
  background: rgba(0,0,0,0.3);
}

/* 배경 이미지 스타일 */
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;   /* 화면 꽉 채움 */
  object-position: center;
  z-index: -1;         /* 콘텐츠 뒤로 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 시계 스타일 */
#clock {
    color: #fff;
    opacity: 1;
    font-size: 12vh;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
    margin: 5vh 0 0 0;
}

/* 로그인 폼 스타일 */
#login-form {
    width: 350px;
    border-radius: 12px;
    background: transparent;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.15); */
    text-align: center;
}

#login-form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 35px;
    transition: 0.2s;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

#login-form input:focus {
  border-color: #fff;
  outline: none;
}

#login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  background: #E0115F;
  color: white;
  font-size: 35px;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  font-weight: 700;
}

#login-form button:hover {
  background: #E0115F;
}

input::placeholder {
  color: #fff;
}

/* 인사말 스타일 */
#greeting {
    width: 350px;
    border-radius: 12px;
    background: transparent;
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.15); */
    text-align: center;
    color: #fff;
    font-size: 3.24rem;
    font-weight: 700;
    margin: 5vh 0;
}

/* 명언 스타일 */
#quote {
    position: fixed;
    bottom: 5vh;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: auto;
}

#quote span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 할 일 목록 스타일 */
#todo-form input {
    width: 100vh;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 1.8rem;
    transition: 0.2s;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    border: none;
}
#todo-form input:focus {
  border-color: #fff;
  outline: none;
}

#todo-list {
    width: 41vh;
    height: 35vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    margin: 0 auto;
}

#todo-list span {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 15px;
}

#todo-list li::marker {
  color: white;
}

#todo-list button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

/* 날씨 스타일 */
#weather {
    position: fixed;
    top: 5vh;
    right: 5vw;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 768px) {

  #clock {
    font-size: 15vw;
  }

  #login-form input,
  #login-form button {
    width: 80vw;
    font-size: 8vw;
  }

  #quote {
    font-size: 14px;
    padding: 0 20px;
  }

  #weather {
    top: 3vh;
    color: #fff;
    font-size: 0.8rem;
  }
}